* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

#root {
    position: relative;
    background-image: url("../img/bg.png");
    background-size: max(100vw, calc(100vh * 16 / 9)) max(100vh, calc(100vw * 9 / 16)); /*16/9*/
    height: 100vh;
    background-position: center;
    width: 100vw;
    background-repeat: no-repeat;
    overflow: hidden;
}

.desktop {
    display: grid;
    grid-template: repeat(7, 1fr)/repeat(14, 1fr);
    padding: 2vh;
    grid-auto-flow: column;
}


.top-bar {
    position: relative;
    width: 100vw;
    height: 5vh;
    background-color: #031E36;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.panel-right {
    display: flex;
    width: 13%;
    justify-content: space-around;
    align-items: center;
}

.panel-left {
    display: flex;
    width: 10%;
    justify-content: space-around;
    align-items: center;
}

.quick-pick {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.separator {
    width: 1%;
    height: 80%;
    background-color: rgba(226, 226, 226, 0.4);
}

.icon {
    width: 20px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.start-icon {
    background-image: url("../img/icons/start.png");
}

.minimize-all {
    background-image: url("../img/icons/minimize.svg");
}

.files {
    background-image: url("../img/icons/system-file-manager.svg");
}

.xterm {
    background-image: url("../img/icons/utilities-terminal.svg");
}

.network {
    background-image: url("../img/icons/network-wired.svg");
}

.volume {
    background-image: url("../img/icons/audio-volume-high.svg");
}

.bell {
    background-image: url("../img/icons/bell.svg");
}

.power {
    background-image: url("../img/icons/gnome-power-manager-symbolic.svg");
}

.lock {
    background-image: url("../img/icons/lock.svg");
}

.logout {
    background-image: url("../img/icons/logout.svg");
}

.desktop {
    width: 100vw;
    height: 95vh;
}

.desktop-icon {
    /*background-color: red;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*border: 1px solid black;*/
    height: 80%;
}

.desktop-icon-text {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: small;
}

.trash {
    background-image: url("../img/icons/trash.svg");
}

.chrome {
    background-image: url("../img/icons/chrome.svg");
}

.home {
    background-image: url("../img/icons/home.svg");
}

.file-icons:hover::after, .desktop-icon:hover::after {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.38);
    content: "";
}

.file-manager {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 70vw;
    height: 70vh;
    background: #2c2c2c;
    border-radius: 5px;
}

.browser {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 70vw;
    height: 70vh;
    background: #434343;
    border-radius: 5px;
}

.terminal {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70vw;
    height: 70vh;
    background: #2c2c2c;
    border-radius: 5px;
}

.active {
    display: flex !important;
}

.window {
    position: absolute;
    width: 99%;
    height: 94%;
    bottom: 1%;
    left: .5%;
    background: rgba(0, 0, 0, 0.42);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.terminal .window {
    display: block;
    overflow: scroll;
}

.maximise {
    width: 100vw;
    height: 95vh;
    /*position: absolute;*/
    top: 5vh;
    left: 0;
}

.titlebar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.titlebar-title {
    font-size: 80%;
    width: 95%;
}

.titlebar-btns {
    display: flex;
    font-size: 70%;
    justify-content: space-between;
    color: white;
    width: 5%;
}

.window-navigation {
    position: relative;
    height: 6%;
    color: white;
    display: flex;
    /*border: 1px solid red;*/
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

.nav-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-bar {
    width: 88%;
    height: 100%;
    margin-top: 1vh;
    display: flex;
    align-items: center;
}

.addbar-left, .addbar-right {
    width: 2.5%;
    height: 95%;
    font-size: 80%;
    color: white;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addbar-left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.addbar-right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.addbar-mid {
    width: 95%;
    height: 95%;
    background-color: #313131;
}

.browser .addbar-mid {
    width: 100%;
    height: 95%;
    border-radius: 20px;
    overflow: hidden;
}

.window-body {
    display: flex;
}

.file-navigation-bar {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    justify-content: flex-start;
    border-right: 1px solid rgba(0, 0, 0, 0.58);
}

.fnb-title {
    font-weight: bold;
    font-size: 2.5vh;
    color: white;
}

.fnb-item {
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.fnb-img {
    width: 20%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.home-notext {
    background-image: url("../img/icons/folder_home.svg");
}

.desktop-notext {
    background-image: url("../img/icons/folder-blue-desktop.svg");
}

.documents-notext {
    background-image: url("../img/icons/folder-blue-documents.svg");
}

.downloads-notext {
    background-image: url("../img/icons/folder-blue-downloads.svg");
}

.music-notext {
    background-image: url("../img/icons/folder-blue-music.svg");
}

.pictures-notext {
    background-image: url("../img/icons/folder-blue-pictures.svg");
}

.videos-notext {
    background-image: url("../img/icons/folder-blue-video.svg");
}

.fnb-text {
    width: 80%;
    height: 100%;
    color: white;
    font-size: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.files-grid {
    height: 93%;
    width: 75%;
    display: grid;
    grid-template-rows: repeat(6, 15vh);
    grid-template-columns: repeat(13, 15vh);
    grid-gap: 1%;
    padding: 1%;
}

.files-grid div {

}

.file-icons {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
}

.desk {
    background-image: url("../img/icons/Desktop.svg");
}

.musi {
    background-image: url("../img/icons/Music.svg");
}

.down {
    background-image: url("../img/icons/Downloads.svg");
}

.vide {
    background-image: url("../img/icons/Videos.svg");
}

.pict {
    background-image: url("../img/icons/Pictures.svg");
}

.docu {
    background-image: url("../img/icons/Documents.svg");
}

.browframe {
    height: 90%;
    width: 100%;
}

#browser-window {
    width: 100%;
    height: 100%;
}

#iframe-url {
    background-color: #313131;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    padding: 1%;
}

.powermenu {
    position: absolute;
    top: 37.5vh;
    left: 37.5vw;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    height: 25vh;
    border-radius: 10px;
    background: rgb(122, 122, 122);
    background: radial-gradient(circle, rgba(122, 122, 122, 1) 0%, rgba(61, 61, 61, 1) 100%);
}

.poweroption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
    color: white;
}

.restart {
    background: rgb(76, 255, 143);
    background: radial-gradient(circle, rgba(76, 255, 143, 1) 0%, rgba(0, 138, 33, 1) 100%);
}

.shutdown {
    background: rgb(255, 104, 104);
    background: radial-gradient(circle, rgba(255, 104, 104, 1) 0%, rgba(194, 0, 0, 1) 100%);
}
